
h1{
    color: rgb(185, 120, 35);
    text-align: center;
}

.borderone{
    border: 10px solid red;
}

.bordertwo{
    border-left: 10px solid yellow;
}

.border_style{
    border-style: solid;
}

.border_width{
    border-width: 1px;
    border-style: solid;
}

.margin{
    border: 1px dotted black;
    margin: 20px 20px 10px 50px;
}

.margin1{
    border: 1px solid red;
    margin-left: 30px;
}

.padding{
    border: 1px solid black;
    padding: 20px;
}

.inline{
    border: 1px solid black;
    width: 500px;
    display: inline-block;
}

.block{
    border: 1px solid black;
    width: 600px;
    display: inline-block;
}

.float_left img{
    width: 40%;
    float: left;

}
.float_right img{
    width: 10%;
    float: right;
}

.clear{
    clear: both;
}
.grid div,.gridone div,.gridtwo div,.gridthree div,.gridfour div,.gridfive div{
    padding: 20px;
    color: white;
    text-align: center;
}

.grid,.gridone,.gridtwo,.gridthree,.gridfour,.gridfive{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridone,.grid{
    grid-column-gap: 40px;
}
.gridtwo{
    grid-row-gap: 40px;
}
.gridthree{
    grid-gap: 50px;
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}
.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}

.relative_parent{
    border: 1px solid black;
    width: 1000px;
    height: 500px;
}

.relative{
    border: 1px solid red;
    position: relative;
    width: 300px;
    height: 200px;
    top: 50px;
    left: 100px;
}

.absolute_parent{
    border: 1px solid yellow;
    width: 1000px;
    height: 500px;
    position: relative;
}

.absolute{
    border: 1px solid blue;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 200px;
    left: 100px;
}
.fixed{
    position: fixed;
    right: 50px;
    top: 300px;
}

.online{
    font-family: 'Source Code Pro', monospace;
}

@font-face {
    font-family: a;
    src: url(Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

.offline{
    font-family: a;
}